server.listenAddress = "localhost"
server.listenPort = 8080

clusters = [
  {
    name: "Kafka Cluster"
    zookeepers: [
      "localhost:2181"
    ]
  }
]

cluster.updaterInterval = 30
cluster.metricsMaxLogSize = 50
