<!DOCTYPE html>
<html lang="ja">
<head>
<title>API List</title>
</head>
<body>
<h1>API List</h1>
<h2>Cluster API</h2>
<ul>
  <li><a href="/api/v1/clusters">GET /api/v1/clusters</a></li>
</ul>
<h2>Broker API</h2>
<ul>
  <li><a href="/api/v1/brokers">GET /api/v1/brokers</a></li>
  <li><a href="javascript:void(0)">GET /api/v1/brokers/$brokerId</a></li>
</ul>
<h2>Broker metrics API</h2>
<ul>
  <li><a href="/api/v1/brokers/metrics">GET /api/v1/brokers/metrics</a></li>
  <li><a href="javascript:void(0)">GET /api/v1/brokers/$brokerId/metrics</a></li>
</ul>
<h2>Topic API</h2>
<ul>
  <li><a href="/api/v1/topics">GET /api/v1/topics</a></li>
  <li><a href="javascript:void(0)">GET /api/v1/topics/$topicName</a></li>
</ul>
</body>
</html>
